<div class="container">

    <section class="header">
        <h1 class="title">Eat Da Burger</h1>
        <h4><i class="fas fa-hamburger"></i> Om nom nom nom <i class="fas fa-hamburger"></i></h4>
    </section>

    <section class="main">
        <div class="row">
        
            <div class="four columns">
                <h4>Add burger to da list</h4>
                <form id="add-burger-form">
                    <input class="u-full-width" type="text" placeholder="Happiness on a bun..." id="addBurgerName">
                    <button type="submit" class="button button-primary" id="addBurgerButton">Yum yum</a>           
                </form>
            </div>

            <div class="four columns" id="to-devour">
                <h4>I'm hungry! What shall I devour?</h4>

                <ul>
                    {{#each burgers}}
                        {{#unless devoured}}
                            <li><button type="button" class="eat-burger" data-id="{{id}}">{{burger_name}}</button></li>
                        {{/unless}}
                    {{/each}}
                </ul>

            </div>

            <div class="four columns">
                <h4>Burgers I've destroyed</h4>
                <ul>
                    {{#each burgers}}
                        {{#if devoured}}
                            <li>{{burger_name}}</li>
                        {{/if}}
                    {{/each}}
                </ul>

            </div>
        </div>
        
    </section>
</div>