/* html {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    opacity: 50%;
} */

body {
    height: 100%;
}

.header {
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    margin-bottom: 2em;
}

.container {
    text-align: center;
    position: relative;
    min-height: 100%;
    background: rgb(255, 255, 255, 0.7);
}

.title {
    font-weight: bold;
}

.row {
    display: flex;
    /* align-items: center; */
    justify-content: center
}

.column, .columns {
    margin: 0;
    float: none;
}

.eat {
    margin-right: 0.5em;
    margin-left: 0.5em;
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

img {
    height: auto;
    max-width: 400px;
}




