html {
    background-image: url(/img/burger.png);
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    /* opacity: 1; */
}

body {
    height: 100%;
}

.header {
    border-bottom: 1px solid rgb(0, 0, 0, 0.5);
    padding: 2em 0;
}

.container {
    text-align: center;
    position: relative;
    min-height: 100%;
    background: rgb(255, 255, 255, 0.7);
}

.title {
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: center
}

.column, .columns {
    margin: 0.5em 1em;
    padding: 0 0.5em;
    float: none;
}

#to-devour {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.eat-burger {
    padding: 0 1em;
    font-size: 0.75em;
}

#addBurgerButton {
    width: 100%;
}

img {
    height: auto;
    max-width: 200px;
}

ul {
    list-style: none;
}



